<div class="modal fade" id="newCocktailModal" tabindex="-1" role="dialog" aria-labelledby="newCocktailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newCocktailModalLabel">Add a new cocktail:</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :directions, as: :text %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <div id="doses">
            <%= f.simple_fields_for :doses do |dose| %>
              <%= render 'dose_fields', f: dose %>
              <div class="links">
                <%= link_to_add_association 'add dose', f, :doses %>
              </div>
            <% end %>
          </div>
          <hr>
          <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
