<% content_for(:title_tag) do %>
  Awesome <%= @cocktail.name %>!!!
<% end %>

<div class="row">
  <ol class="breadcrumb">
    <li>
      <%= link_to "<< Back", cocktails_path, class: "btn btn-primary btn-xs" %>
    </li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>
      <%= @cocktail.name %>
      <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger btn-xs align-right" %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <h3>Ingredients</h3>
    <% if @cocktail.doses.any? %>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %>: <%= dose.description %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This cocktail has no ingredients yet.</p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>Add ingredients:</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id, collection: @ingredients %>
      <%= f.input :description %>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
